@media screen and (max-height: 650px) {
  cart-drawer-items {
      overflow: visible !important; 
  }
}
.cart-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 800px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.ce-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.cart-empty {
  text-align: center;
}

.empty-content {
  margin-top: 20px;
}

.empty-text {
  font-size: 18px;
}

.login-title {
  font-size: 16px;
  margin-top: 8px;
}

.login-paragraph {
  font-size: 16px;
}


.cart-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}


.cart-container .MuiButton-root {
  margin-top: auto;
  
}

.cart-container .MuiButton-containedPrimary {
  margin: 10px;
}


.MuiDialogTitle-root {
  font-size: 10px;
}

.MuiDialogContentText-root {
  font-size: 16px;
}

.cart-free-shipping {
  background-color: lightgreen;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.cart-message {
  background-color: rgb(144, 235, 238);
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}



.ce {
  display: flex;
  justify-content: center;
}

.ec {
  margin: 20px; 
  padding: 20px; 
  text-align: center;
}

.et, .lt {
  margin-bottom: 10px; 
}

.et {
  font-size: 24px;
}

.lt {
  margin-top: 50px;
}

.l {
  display: line; 
  text-decoration: none;
  color: blueviolet;
}