.cartLink {
  text-decoration: none;
}

.badgeContainer .MuiBadge-badge {
  left: -4px;
}

.badgeContainer{
transition: transform 0.3s ease;
}
.badgeContainer:hover {
  transform: scale(1.2);
}

.iconContainer {
  transition: transform 0.3s ease;
}

.iconContainer:hover {
  transform: scale(1.8);
}

