.item-list-container {
    margin-top: 150px;
  }

  .card {
    margin-bottom: 400px;
  }
  
  .lista-productos {
    padding-bottom: 20px;
  }

  .lista-productos {
    height: 500px; 
  }
  .space-below-list {
    margin-bottom: 100px;
  }
  