.footer {
    position: fixed;
    left: 0;
    bottom: -380px;
    height: 400px;
    width: 100%;
    background-color: #e7e0d5;
    color: #5c5454;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    display: grid;
    z-index: 1000;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    transition: bottom 0.3s ease;
  }
  
  .footer.visible {
    bottom: 0;
  }
  
  .additionalInfo {
    margin-top: 30px;
    margin: 20px;
    position: relative;
    margin-bottom: -10px;
    text-align: left;
  }
  
  .titleInfo a,
  .infoList,
  .additionalInfo ul {
    color: #5c5454;
    text-decoration: none;
  }
  
  .titleInfo a {
    font-size: 16px;
  }
  
  .infoList {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .additionalInfo ul {
    list-style: none; 
    padding: 0;
  }
  
  .additionalInfo ul li {
    margin-bottom: 5px;
  }
  
  .mainInfo {
    margin-top: 20px;
  }
  
  .footer p {
    margin: 0;
  }
  