.footer {
    position: fixed;
    left: 0;
    bottom: -380px; 
    height: 400px;
    width: 100%;
    background-color: #e7e0d5;
    color: #5c5454;
    text-align: center;
    padding: 10px 0;
    display: grid;
    z-index: 1000;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
    gap: 10px; 
    transition: bottom 0.3s ease;
}

.footer.visible {
    bottom: 0; 
}

.mainInfo,
.additionalInfo {
    margin: 20px;
    position: relative;
    margin-bottom: -10px; 
}


.additionalInfo a {
    color: #5c5454; 
    text-decoration: none; 
    font-size: 14px; 
    display: row;
    justify-content: space-between;
}

.footer p {
    margin: 0; 
}
