.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #e7e0d5;
    color: #5c5454;
    text-align: center;
    padding: 10px 0;
}

.footer .socialIcons {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.footer .socialIcons a {
    margin: 0 0.4rem;
}
