*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #5c5454;
  background-image: ;
}



h1{

}

h2{

}

h3{

}

h4{
}

 
@media only screen and (max-width: 480px) and (orientation: landscape){
  h1{
    font-size: 1rem;
  }
  
  h2{
    font-size: 1rem;

  }
  
  h3{
    font-size: 1rem;

  }
  
  h4{
    font-size: 1rem;

  }

  a{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape){
  h1{
    font-size: 13px;
  }
  
  h2{
    font-size: 1rem;

  }
  
  h3{
    font-size: 1rem;

  }
  
  h4{
    font-size: 1rem;

  }

  a{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape){
  h1{
    font-size: 1.2rem;
  }
  
  h2{
    font-size: 1.2rem;

  }
  
  h3{
    font-size: 1.2rem;

  }
  
  h4{
    font-size: 1.2rem;

  }
  a{
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) and (orientation: landscape){
  h1{
    font-size: 1.5rem;
  }
  
  h2{
    font-size: 1.5rem;

  }
  
  h3{
    font-size: 1.5rem;

  }
  
  h4{
    font-size: 1.5rem;

  }
  a{
    font-size: 1.5rem;
  }
} 