.containerItemDetail {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.leftColumn {
  flex: 1;
  width: 50%;
}

.rightColumn {
  flex: 1;
  width: 50%;
}

.containerImage {
  margin-top: 20px;
}

.containerImage img {
  max-width: 90%;
  height: auto;
}

.warranty {
  background-color: lightgreen;
  margin-right: 569px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.rating {
  margin-bottom: 10px;
}

.rating span {
  font-size: 20px;
}

.addons {
  margin-bottom: 20px;
}

.addons label {
  font-size: 16px;
}

.addons input {
  margin-left: 10px;
  width: 20px;
}

.colors,
.sizes {
  margin-bottom: 20px;
}

.inline-title {
  display: inline;
  margin-right: 5px;
}

.inline-list {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inline-list li {
  display: inline;
  margin-right: 5px;
}

.colors ul,
.sizes ul {
  list-style-type: none;
  padding: 0;
}

.colors li,
.sizes li {
  font-size: 16px;
  margin-bottom: 5px;
}

.rating {
  margin-bottom: 10px;
}

.details {
  margin-top: 20px;
  margin-bottom: 40px;
}

.details h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.details h3 {
  font-size: 18px;
  font-style: none;
  text-decoration: none;
  margin-bottom: 10px;
}

.details p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  font-style: none;
}

.addons p {
  font-size: 16px;
  margin-bottom: 10px;
}

.additional-sections {
  margin-top: 20px;
  margin-bottom: 80px;
}

.additional-sections h3 {
  margin-bottom: 10px;
}
.additional-sections p {
  margin-bottom: 15px;
}
